<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<th:block layout:fragment="style">
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <link href="/css/chat/datatables.bundle.css" rel="stylesheet" type="text/css"/>
    <!--end::Page Vendor Stylesheets-->
    <!--Begin::Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-5FS8GGP');</script>

    <script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
    <script src="/webjars/sockjs-client/1.1.2/dist/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
    <!--End::Google Tag Manager -->
</th:block>

<div layout:fragment="content">
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content"
         th:data-user-id="${#authentication.principal.id}"
         th:data-sender-name="${#authentication.principal.name}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <!--begin::Container-->
        <div class=" container-xxl " id="kt_content_container">
            <!--begin::Layout-->
            <div class="d-flex flex-column flex-lg-row">
                <!--begin::Sidebar-->
                <div class="flex-column flex-lg-row-auto w-100 w-lg-300px w-xl-400px mb-10 mb-lg-0">
                    <!--begin::Contacts-->
                    <div class="card card-flush">
                        <!--begin::Card header-->
                        <div class="card-header pt-7" id="kt_chat_contacts_header">
                            <div class="input-group">
                                <input type="text" class="form-control" name="room_name" id="room_name"
                                       placeholder="채팅방 이름">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" id="createRoom">채팅방 개설
                                    </button>
                                </div>
                            </div>
                            <!--begin::Form-->

                            <!--end::Form-->
                        </div>
                        <!--end::Card header-->

                        <!--begin::Card body-->
                        <div class="card-body pt-5" id="kt_chat_contacts_body">
                            <!--begin::List-->
                            <div class="scroll-y me-n5 pe-5 h-200px h-lg-auto"
                                 data-kt-scroll="true"
                                 data-kt-scroll-activate="{default: false, lg: true}"
                                 data-kt-scroll-max-height="auto"
                                 data-kt-scroll-dependencies="#kt_header, #kt_toolbar, #kt_footer, #kt_chat_contacts_header"
                                 data-kt-scroll-wrappers="#kt_content, #kt_chat_contacts_body"
                                 data-kt-scroll-offset="5px">

                                <!--begin::User-->
                                <div class="d-flex flex-stack py-4" th:each="m, loop : ${mlist}">
                                    <!--begin::Details-->
                                    <div class="d-flex align-items-center">
                                        <!--begin::Avatar-->
                                        <div class="symbol  symbol-45px symbol-circle ">
                                            <img alt="Pic" src="/img/default.png"/>
                                            <div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2"></div>
                                        </div><!--end::Avatar-->
                                        <!--begin::Details-->
                                        <div class="ms-6">
                                            <!--begin::Name-->
                                            <a href="#"
                                               class="d-flex align-items-center fs-5 fw-bolder text-dark text-hover-primary">
                                                <span th:text="${m.name}"></span>
                                                <span class="badge badge-light fs-8 fw-bold ms-2"
                                                      th:text="|${m.deptName} ${m.companyRankName}|"></span>
                                            </a>
                                            <!--end::Name-->

                                            <!--begin::Email-->
                                            <div class="fw-bold text-muted" th:text="${m.email}"></div>
                                            <!--end::Email-->
                                        </div>
                                        <!--end::Details-->
                                    </div>
                                    <!--end::Details-->

                                    <!--begin::checkbox-->
                                    <div class="p-0">
                                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                                            <input class="form-check-input" type="checkbox"
                                                   th:value="${m.id}" name="participants"/>
                                        </div>
                                    </div>
                                    <!--end::checkbox-->
                                </div>
                                <!--end::User-->

                                <!--begin::Separator-->
                                <div class="separator separator-dashed"></div>
                                <!--end::Separator-->

                            </div>
                            <!--end::List-->
                        </div>
                        <!--end::Card body-->
                    </div>
                    <!--end::Contacts-->    </div>
                <!--end::Sidebar-->

                <!--begin::Content-->
                <div class="flex-lg-row-fluid ms-lg-7 ms-xl-10">
                    <!--begin::Messenger-->
                    <div class="card" id="kt_chat_messenger">
                        <!--begin::Card header-->
                        <div class="card-header" id="kt_chat_messenger_header">
                            <!--begin::Title-->
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label fw-bolder text-gray-800 fs-2">참여한 채팅방</span>
                                <span class="text-gray-400 fw-semibold mt-2 fs-6" id="chatrooms-sub-header"></span>

                            </h3>
                            <!--end::Title-->

                            <!--begin::Card toolbar-->

                            <!--end::Card toolbar-->
                        </div>
                        <!--end::Card header-->

                        <!--begin::Card body-->
                        <div class="card-body" id="kt_chat_messenger_body">
                            <!--begin::Rooms-->
                            <div class="scroll-y me-n5 pe-5 h-300px h-lg-auto" data-kt-element="messages"
                                 data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                                 data-kt-scroll-max-height="auto"
                                 data-kt-scroll-dependencies="#kt_header, #kt_toolbar, #kt_footer, #kt_chat_messenger_header, #kt_chat_messenger_footer"
                                 data-kt-scroll-wrappers="#kt_content, #kt_chat_messenger_body"
                                 data-kt-scroll-offset="5px"
                                 style="min-height: 733px;"
                                 id="chatrooms"
                            >

                            </div>
                            <!--end::Rooms-->
                        </div>
                        <!--end::Card body-->

                        <!--begin::Card footer-->

                        <!--end::Card footer-->
                    </div>
                    <!--end::Messenger-->
                </div>
                <!--end::Content-->
            </div>
            <!--end::Layout-->
        </div>
        <!--end::Container-->
    </div>

    <!--begin::Scrolltop-->
    <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
        <!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
        <span class="svg-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
<rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="currentColor"/>
<path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z"
      fill="currentColor"/>
</svg></span>
        <!--end::Svg Icon-->
    </div>
    <!--end::Scrolltop-->

</div>

<th:block layout:fragment="script">
    <script>
        var hostUrl = "/jet-html-free/assets/";
    </script>
    <!--begin::Page Vendors Javascript(used by this page)-->
    <script src="/js/chat/datatables.bundle.js"></script>
    <!--end::Page Vendors Javascript-->
    <!--begin::Page Custom Javascript(used by this page)-->
    <script src="/js/chat/widgets.bundle.js"></script>
    <script src="/js/chat/widgets.js"></script>
    <script src="/js/chat/intro.js"></script>
    <script src="/js/chat/upgrade-plan.js"></script>
    <script src="/js/chat/users-search.js"></script>
    <script src="/js/chat/room.js" type='text/javascript'></script>
    <!--end::Page Custom Javascript-->
</th:block>

</html>
