<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<div layout:fragment="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-danger">
						<h4 class="card-title">기안된 결재문서</h4>
					</div>
					<div class="card-body">
						<table id="kt_datatable_example_2"
							   class="table table-striped table-row-bordered gy-5 gs-7">
							<thead>
							<tr class="fw-bold fs-6 text-gray-800">
								<th>문서종류</th>
								<th>기안자</th>
								<th>제목</th>
								<th>작성일</th>
								<th>결재여부</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="e: ${elist}">
								<td>지출결의서</td>
								<td>[[${e.member.name}]]</td>
								<td><a
										th:href="@{/approval/expense/editread(expenseNum=${e.expenseNum})}">[[${e.title}]]</a>
								</td>
								<td>[[${e.wdate}]]</td>
								<td th:if="${e.rstatus == -1}">반려</td>
								<td th:if="${e.status >=0 && e.status < 2 && e.rstatus==0}">결재중</td>
								<td th:if="${e.status == 2}">결재완료</td>
							</tr>
							<tr th:each="r:${rlist}">
								<td>품의서</td>
								<td>[[${r.member.name}]]</td>
								<td><a
										th:href="@{/approval/report/editread(reportNum=${r.reportNum})}">[[${r.title}]]</a>
								</td>
								<td>[[${r.wdate}]]</td>
								<td th:if="${r.rstatus == -1}">반려</td>
								<td th:if="${r.status >=0 && r.status < 2 && r.rstatus==0}">결재중</td>
								<td th:if="${r.status == 2 && r.rstatus==0}">결재완료</td>
							</tr>
							<tr th:each="v:${vlist}">
								<td>휴가신청서</td>
								<td>[[${v.member.name}]]</td>
								<td><a
										th:href="@{/approval/vacation/editread(vacationNum=${v.vacationNum})}">[[${v.member.name}]]
									휴가신청</a></td>
								<td>[[${v.wdate}]]</td>
								<td th:if="${v.rstatus == -1}">반려</td>
								<td th:if="${v.status >=0 && v.status < 2 && v.rstatus==0}">결재중</td>
								<td th:if="${v.status == 2}">결재완료</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</html>