<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<div layout:fragment="content">
    <h2 class="mb-4">기안한 문서</h2>
    <table border="1">
        <tr>
            <th>문서종류</th>
            <th>기안자</th>
            <th>제목</th>
            <th>작성일</th>
            <th>결재여부</th>
        </tr>
        <tr th:each="e: ${elist}" th:if="${(#authentication.principal.username == e.member.username && e.rstatus == -1)}">
            <td>지출결의서</td>
            <td>[[${e.member.name}]]</td>
            <td><a th:href="@{/approval/expense/edit(expenseNum=${e.expenseNum})}">[[${e.title}]]</a></td>
            <td>[[${e.wdate}]]</td>
            <td th:if="${e.rstatus == -1}">반려</td>
        </tr>
        <tr th:each="r:${rlist}" th:if="${#authentication.principal.username == r.member.username && r.rstatus == -1}">
            <td>품의서</td>
            <td>[[${r.member.name}]]</td>
            <td><a th:href="@{/approval/report/edit(reportNum=${r.reportNum})}">[[${r.title}]]</a></td>
            <td>[[${r.wdate}]]</td>
            <td th:if="${r.rstatus == -1}">반려</td>
        </tr>
        <tr th:each="v:${vlist}" th:if="${#authentication.principal.username == v.member.username && v.rstatus == -1}">
            <td>휴가신청서</td>
            <td>[[${v.member.name}]]</td>
            <td><a th:href="@{/approval/vacation/edit(vacationNum=${v.vacationNum})}">[[${v.member.name}]] 휴가신청</a></td>
            <td>[[${v.wdate}]]</td>
            <td th:if="${v.rstatus == -1}">반려</td>
        </tr>
    </table>
</div>
</html>