<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<div layout:fragment="content">
    <body>
    <div class="container py-4">
        <form method="get" action="/dataroom/detail" enctype="multipart/form-data">
            <div class="text-end mt-5 ">
                <a href="/dataroom/list" class="btn btn-secondary" style="font-size: 13px;">목록</a>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <p class="card-text" style="font-size: 20px;"><strong>[자료실]</strong></p>
            <div class="card mt-5" >
                <div class="card-header">
                    <h2 class="card-title" id="title" name="title" th:text="${dto.title }"></h2>
                </div>
                <div class="card-body">
                    <p class="card-text" id="content" name="content" th:text="${dto.content}" style="font-size: 18px; white-space: pre-line;"></p>
                    <div class="row">
                        <div class="col-md-3 ">
                            <span>첨부파일: </span>
                            <a class="ml-3" style="display: inline-block; width: auto;" th:href="@{/dataroom/down(fname=${dto.fname}, num=${dto.num})}" th:text="${dto.fname}"></a>
                        </div>
                    </div>
                    <p class="card-text"><small class="text-muted">게시자: </small>
                        <small class="text-muted" id="writer" name="writer" th:text="${dto.member.name }"></small>
                        <small class="text-muted"> | 게시일: </small>
                        <small class="text-muted" id="wdate" name="wdate" th:text="${dto.wdate }"></small>
                    </p>
                </div>
            </div>
        </form>
    </div>
    </body>
</div>
</html>