<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<div layout:fragment="content">
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script type="text/javascript" th:inline="javascript">
            $(document).ready(function () {
                $("#del").click(function () {
                    location.href = "/dataroom/del?num=[[${dto.num }]]";
                });
            });
        </script>
    </head>
    <body>
    <h3>자료 상세페이지</h3>
    <form method="post"  action="/dataroom/edit" enctype="multipart/form-data">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <table border="1">
            <tr>
                <th>글번호</th>
                <td><input type="text" name="num" th:value="${dto.num }" readonly></td>
            </tr>
            <tr>
                <th>작성일</th>
                <td><input type="text" name="wdate" th:value="${dto.wdate }" readonly></td>
            </tr>
            <tr>
                <th>작성자</th>
                <td><input type="text" name="writer" th:value="${dto.member.name }" readonly></td>
            </tr>
            <tr>
                <th>제목</th>
                <td><input type="text" name="title" th:value="${dto.title }" readonly></td>
            </tr>
            <tr>
                <th>내용</th>
                <td><textarea rows="10" cols="30" name="content" th:text="${dto.content }"
                              th:readonly="${#authentication.principal.username ne dto.member.username}"></textarea></td>
            </tr>
            <tr th:if="${#authentication.principal.username eq dto.member.username}">
                <th>자료변경</th>
                <td><input type="file" name="f"></td></tr>
            </tr>
            <tr>
                <th>자료</th>
                <td><a th:href="@{/dataroom/down(fname=${dto.fname}, num=${dto.num})}" th:text="${dto.fname}"></a></td>
            </tr>
            <tr th:if="${#authentication.principal.username eq dto.member.username}">
                <th>편집</th>
                <td><input type="submit" value="수정"><input type="button" id="del" value="삭제"></td>
            </tr>
        </table>
    </form>
    </body>
    <a href="/dataroom/list">목록으로</a>
</div>
</html>