<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<div layout:fragment="content">
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    </head>
    <body>
    <div class="container py-5">
        <h3 class="mb-5">자료 상세페이지</h3>
        <form method="post"  action="/dataroom/edit" enctype="multipart/form-data">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="mb-3">
                <label for="num" class="form-label">글번호</label>
                <input type="text" class="form-control" id="num" name="num" th:value="${dto.num }" readonly>
            </div>
            <div class="mb-3">
                <label for="wdate" class="form-label">작성일</label>
                <input type="text" class="form-control" id="wdate" name="wdate" th:value="${dto.wdate }" readonly>
            </div>
            <div class="mb-3">
                <label for="writer" class="form-label">작성자</label>
                <input type="text" class="form-control" id="writer" name="writer" th:value="${dto.member.name }" readonly>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" class="form-control" id="title" name="title" th:value="${dto.title }" readonly>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea class="form-control" id="content" rows="3" name="content" th:text="${dto.content }"
                          th:readonly="${#authentication.principal.username ne dto.member.username}"></textarea>
            </div>
            <div class="mb-3" th:if="${#authentication.principal.username eq dto.member.username}">
                <label for="f" class="form-label">자료변경</label>
                <input class="form-control" type="file" id="f" name="f">
            </div>
            <div class="mb-3">
                <label class="form-label">자료</label>
                <a class="form-control" th:href="@{/dataroom/down(fname=${dto.fname}, num=${dto.num})}" th:text="${dto.fname}"></a>
            </div>
            <div class="text-end mt-3" th:if="${#authentication.principal.username eq dto.member.username}">
                <input type="submit"  class="btn btn-primary me-2" value="수정">
                <a th:href="@{/dataroom/detail(num=${dto.num })}" class="btn btn-danger me-2">취소</a>
            </div>
        </form>
    </div>
    </body>
</div>
</html>