<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<div layout:fragment="content">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
		<script type="text/javascript" th:inline="javascript">
			$(document).ready(function () {
				$("#del").click(function () {
					location.href = "/board/del?num=[[${b.num }]]";//url /board/del로 삭제요청. 삭제할 글번호를 파라메터 num으로 보냄
				});
			});
		</script>
	</head>
	<body>
	<h3>글 상세페이지</h3>
	<form action="/board/edit" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
		<table border="1">
			<tr>
				<th>글번호</th>
				<td><input type="text" name="num" th:value="${b.num }" readonly></td>
			</tr>
			<tr>
				<th>작성일</th>
				<td><input type="text" th:value="${b.wdate }" readonly></td>
			</tr>
			<tr>
				<th>작성자</th>
				<td><input type="text" th:value="${b.member.username }" readonly></td>
			</tr>
			<tr>
				<th>제목</th>
				<td><input type="text" name="title" th:value="${b.title }"></td>
			</tr>
			<tr>
				<th>내용</th>
				<td><textarea rows="10" cols="30" name="content" th:text="${b.content }"
				 th:readonly="${#authentication.principal.username == b.member.username ? 'false' : 'readonly'}"></textarea></td>
			</tr>
			<tr th:if="${#authentication.principal.username} == ${b.member.username}">
				<th>편집</th>
				<td><input type="submit" value="수정"><input type="button" id="del" value="삭제"></td>
			</tr>
		</table>
	</form>
	</body>
</div>

</html>