<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<th:block layout:fragment="style">
    <link rel="stylesheet" href="/css/dataroom/dataroom.css">
</th:block>
<div layout:fragment="content">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h2 class="card-title ">공지사항</h2>
                            <div class="card-header cursor-pointer d-flex justify-content-between align-items-center">
                                <div th:if="${#authentication.principal.isMaster == 1}"
                                     class="btn btn-icon btn-active-light-primary w-60px h-60px w-md-60px h-md-60px align-self-center"
                                     data-kt-menu-trigger="click" data-kt-menu-attach="parent"
                                     data-kt-menu-placement="bottom-end" data-kt-menu-flip="bottom">
                                    <i class="bi bi-person-plus-fill">글 작성</i>
                                </div>
                                <div class="menu menu-sub menu-sub-dropdown menu-column w-400px w-lg-500px e_box"
                                     data-kt-menu="true">
                                    <form action="/board/notifyadd" method="POST" onsubmit="return notifysubmit();">
                                        <input type="hidden" th:name="${_csrf.parameterName}"
                                               th:value="${_csrf.token}"/>
                                        <div class="card mb-5 mb-xl-10">
                                            <div class="card-header cursor-pointer">
                                                <div class="card-title m-0">
                                                    <h3 class="fw-bolder m-0">공지사항 작성</h3>
                                                </div>
                                                <button type="submit" class="btn btn-primary align-self-center">작 성
                                                </button>
                                            </div>
                                            <div class="card-body p-9">
                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">작성자 (Writer)</label>
                                                    <div class="col-lg-8">
                                                                <span class="fw-bolder fs-6 text-dark">
                                                                  <div class="input-group input-group-sm mb-3">
                                                                    [[${#authentication.principal.name}]]
                                                                  </div>
                                                                    </span>
                                                    </div>
                                                </div>
                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">작성일 (Date)</label>
                                                    <div class="col-lg-8">
                                                                <span class="fw-bolder fs-6 text-dark">
                                                                  <div class="input-group input-group-sm mb-3">
                                                                    [[${date}]]
                                                                  </div>
                                                                    </span>
                                                    </div>
                                                </div>
                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">제 목 (Title)</label>
                                                    <div class="col-lg-8">
                                                                <span class="fw-bolder fs-6 text-dark">
                                                                  <div class="input-group input-group-sm mb-3">
                                                                   <input type="text" name="title" class="form-control">
                                                                  </div>
                                                                    </span>
                                                    </div>
                                                </div>
                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">내 용 (Content)</label>
                                                    <div class="col-lg-8">
                                                                    <span class="fw-bolder fs-6 text-dark">
                                                                        <div class="input-group input-group-sm mb-3">
                                                                        <textarea rows="10" cols="30" name="content"
                                                                                  class="form-control"></textarea>
                                                                        </div>
                                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <form action="/board/searchNotify" method="GET">
                                <div class="input-group mb-3" style="padding-top: 50px;">
                                    <div class="input-group-prepend">
                                        <select name="type" class="form-select form-select-sm">
                                            <option value="none">전체</option>
                                            <option value="name">이름</option>
                                            <option value="title">제목</option>
                                        </select>
                                    </div>
                                    <input type="text" name="option" class="form-control form-control-sm"
                                           placeholder="검색어를 입력하세요">
                                    <div class="input-group-append">
                                        <button type="submit" name="search" class="btn btn-success btn-sm"
                                                style="z-index: 0;">
                                            검색
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="kt_datatable_example_2"
                                       class="table table-striped table-row-bordered gy-5 gs-7">
                                    <thead>
                                    <tr class="fw-bold fs-6 text-gray-800">
                                        <th>글번호</th>
                                        <th>이름</th>
                                        <th>제목</th>
                                        <th>작성일</th>
                                        <th>조회수</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="b:${paging}">
                                        <td th:text="${b.num}"></td>
                                        <td th:text="${b.member.name }"></td>
                                        <td><a th:href="@{/board/notifyedit(num=${b.num })}"
                                               th:text="${b.title }"></a><span
                                                class="badge badge-pro badge-light-danger fw-bold fs-9 px-2 py-1 ms-1">중 요!</span>
                                        </td>
                                        <td th:text="${b.wdate }"></td>
                                        <td th:text="${b.cnt }"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- 페이징처리 시작 -->
                                <div th:if="${!paging.isEmpty()}">
                                    <ul class="pagination justify-content-center">

                                        <!-- 처음 링크 -->
                                        <li class="page-item" th:classappend="${paging.first} ? 'disabled'">
                                            <a class="page-link"
                                               th:href="@{|?page=1&type=${type}&option=${option}|}">
                                                <span>처음</span>
                                            </a>
                                        </li>
                                        <!-- 이전 링크 -->
                                        <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                                            <a class="page-link"
                                               th:href="@{|?page=${paging.number}&type=${type}&option=${option}|}">
                                                <span>이전</span>
                                            </a>
                                        </li>
                                        <!-- 페이지 번호 -->
                                        <li th:each="page: ${#numbers.sequence(1, paging.totalPages)}"
                                            th:if="${page >= paging.number-4 and page <= paging.number+4}"
                                            th:classappend="${page == paging.number+1} ? 'active'"
                                            class="page-item">
                                            <a th:text="${page}" class="page-link"
                                               th:href="@{|?page=${page}&type=${type}&option=${option}|}"></a>
                                        </li>
                                        <!-- 생략 기호 -->
                                        <li th:if="${paging.number+4 < paging.totalPages}" class="page-item disabled">
                                            <a class="page-link">...</a>
                                        </li>
                                        <!-- 다음 기호 -->
                                        <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                                            <a class="page-link"
                                               th:href="@{|?page=${paging.number+2}&type=${type}&option=${option}|}">
                                                <span>다음</span>
                                            </a>
                                        </li>
                                        <!-- 마지막 링크 -->
                                        <li class="page-item" th:classappend="${paging.last} ? 'disabled'">
                                            <a class="page-link"
                                               th:href="@{|?page=${paging.totalPages}&type=${type}&option=${option}|}">
                                                <span>마지막</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- 페이징처리 끝 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	<th:block layout:fragment="script">
    <script src="/board/js/board_form.js" type='text/javascript'></script>
	</th:block>
</html>