<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<div layout:fragment="content">
<a href="/board/notifyadd">공지사항 추가</a>
<h2 class="mb-4">Co-Operate-Works 공지사항</h2>
<form action="/board/notify" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <select name="type">
        <option value="none">전체</option>
        <option value="name">이름</option>
        <option value="title">제목</option>
    </select>
    <input type="text" name="option">
    <input type="submit" value="검색" name="search">
</form>
<table border="1">
    <tr>
        <th>글번호</th>
        <th>이름</th>
        <th>제목</th>
        <th>작성일자</th>
    </tr>
    <tr th:each="b:${list}">
        <td th:text="${b.num}"></td>
        <td th:text="${b.member.name }"></td>
        <td><a th:href="@{/board/notifyedit(num=${b.num })}" th:text="${b.title }"></a></td>
        <td th:text="${b.wdate }"></td>
    </tr>
</table>
</div>
</html>