<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <style>
        .card {
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            margin: 0 auto;
        }

        .card-body {
            width: max-content;
        }

        table {
            border-collapse: collapse;
        }

        td {
            border: 1px solid black;
        }
    </style>
</head>
<div layout:fragment="content">
    <div class="main-content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body" style="width: auto; min-width: max-content">
                    <form action="/approval/vacation/approve" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="hidden" th:name="vacationNum" th:value="${vdto.vacationNum}"/>
                        <table style="border: 0px solid rgb(0, 0, 0); width: 800px; font-family: malgun gothic, dotum, arial, tahoma; margin-top: 1px; border-collapse: collapse;">
                            <!-- Header -->
                            <colgroup>
                                <col
                                        width="310">
                                <col width="490">
                            </colgroup>
                            <tbody>
                            <tr>
                                <td style="background: white; padding: 0px !important; border: 0px currentColor; height: 90px; text-align: center; color: black; font-size: 36px; font-weight: bold; vertical-align: top;"
                                    colspan="2"
                                    class="dext_table_border_t dext_table_border_r dext_table_border_b dext_table_border_l"
                                    th:if="${vdto.rstatus != -1 && (vdto.status == 0 || vdto.status == 1)}">
                                    휴가원
                                </td>
                                <td style="background: white; padding: 0px !important; border: 0px currentColor; height: 90px; text-align: center; color: black; font-size: 36px; font-weight: bold; vertical-align: top;"
                                    colspan="2"
                                    class="dext_table_border_t dext_table_border_r dext_table_border_b dext_table_border_l"
                                    th:if="${vdto.rstatus == -1}">
                                    휴가원 <img src="/img/refuse.png"
                                             style="position:absolute; width:130px; height:130px; margin-left:-500px; margin-top:-50px"/>
                                </td>
                                <td style="background: white; padding: 0px !important; border: 0px currentColor; height: 90px; text-align: center; color: black; font-size: 36px; font-weight: bold; vertical-align: top;"
                                    colspan="2"
                                    class="dext_table_border_t dext_table_border_r dext_table_border_b dext_table_border_l"
                                    th:if="${vdto.status == 2}">
                                    휴가원 <img src="/img/fapprove.png"
                                             style="position:absolute; width:130px; height:130px; margin-left:-500px; margin-top:-50px"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="background: white; padding: 0px !important; border: currentColor; text-align: left; color: black; font-size: 12px; font-weight: normal; vertical-align: top;">
                                    <table style="border: 1px solid rgb(0, 0, 0); font-family: malgun gothic, dotum, arial, tahoma; margin-top: 1px; border-collapse: collapse;">
                                        <!-- User -->
                                        <colgroup>
                                            <col
                                                    width="100">
                                            <col width="220">
                                        </colgroup>
                                        <tbody>
                                        <tr>
                                            <td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 18px; text-align: center; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; vertical-align: middle;">
                                                기안자
                                            </td>
                                            <td style="background: rgb(255, 255, 255); padding: 5px; border: 1px solid black; text-align: left; color: rgb(0, 0, 0); font-size: 12px; font-weight: normal; vertical-align: middle;">
				<span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="11"
                      data-dsl="{{label:draftUser}}" data-wrapper=""
                      style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"
                      data-value="" data-autotype="">[[${vdto.member.name}]]</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 18px; text-align: center; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; vertical-align: middle;">
                                                기안부서
                                            </td>
                                            <td style="background: rgb(255, 255, 255); padding: 5px; border: 1px solid black; text-align: left; color: rgb(0, 0, 0); font-size: 12px; font-weight: normal; vertical-align: middle;">
				<span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="12"
                      data-dsl="{{label:draftDept}}" data-wrapper=""
                      style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"
                      data-value="" data-autotype="">[[${vdto.member.deptName}]]</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 18px; text-align: center; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; vertical-align: middle;">
                                                기안일
                                            </td>
                                            <td style="background: rgb(255, 255, 255); padding: 5px; border: 1px solid black; text-align: left; color: rgb(0, 0, 0); font-size: 12px; font-weight: normal; vertical-align: middle;">
				<span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="13"
                      data-dsl="{{label:draftDate}}" data-wrapper=""
                      style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"
                      data-value="" data-autotype="">[[${vdto.wdate}]]</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 18px; text-align: center; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; vertical-align: middle;">
                                                문서번호
                                            </td>
                                            <td style="background: rgb(255, 255, 255); padding: 5px; border: 1px solid black; text-align: left; color: rgb(0, 0, 0); font-size: 12px; font-weight: normal; vertical-align: middle;">
				<span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="14"
                      data-dsl="{{label:docNo}}" data-wrapper=""
                      style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"
                      data-value="" data-autotype="">[[${vdto.vacationNum}]]</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="background: white; padding: 0px !important; border: currentColor; text-align: right; color: black; font-size: 12px; font-weight: normal; vertical-align: top;">
                                    <table border="1px solid black" style="margin-left: 280px; margin-bottom: -15px;">
                                        <tr>
                                            <th colspan="3" style="border: 0px; text-align: center; font-size: math">
                                                [결재선]
                                            </th>
                                        </tr>
                                        <tr style="text-align: center; font-size: small">
                                            <td>기안자</td>
                                            <td>[[${vdto.approval1rank}]]</td>
                                            <td>[[${vdto.approval2rank}]]</td>
                                        </tr>
                                        <tr style="text-align: center">
                                            <td style="width: 70px" height="40px;">[[${vdto.member.name}]]</td>

                                            <td style="width: 70px" height="40px;" th:if="${vdto.status == 0}">
                                                [[${vdto.approval1}]]
                                            </td>
                                            <td style="width: 70px" height="40px;" th:if="${vdto.status == 0}">
                                                [[${vdto.approval2}]]
                                            </td>

                                            <td style="width: 70px" height="40px;" th:if="${vdto.status == 1}">
                                                [[${vdto.approval1}]]
                                                <img src="/img/approve.png"
                                                     style="position:absolute; width:90px; height:70px; margin-left:-60px; margin-top:-27px"/>
                                            </td>
                                            <td style="width: 70px" height="40px;" th:if="${vdto.status == 1}">
                                                [[${vdto.approval2}]]
                                            </td>

                                            <td style="width: 70px" height="40px;" th:if="${vdto.status == 2}">
                                                [[${vdto.approval1}]]
                                                <img src="/img/approve.png"
                                                     style="position:absolute; width:90px; height:70px; margin-left:-60px; margin-top:-27px"/>
                                            </td>
                                            <td style="width: 70px" height="40px;" th:if="${vdto.status == 2}">
                                                [[${vdto.approval2}]]
                                                <img src="/img/approve.png"
                                                     style="position:absolute; width:90px; height:70px; margin-left:-60px; margin-top:-27px"/>
                                            </td>
                                        </tr>
                            </tr>
                        </table>
                        </td>
                        </tr>
                        </tbody>
                        </table>
                        <table style="border: 0px solid rgb(0, 0, 0); width: 800px; font-family: malgun gothic, dotum, arial, tahoma; margin-top: 10px; border-collapse: collapse;">
                            <!-- 품의서 -->
                            <colgroup>
                                <col
                                        width="200">
                                <col width="350">
                                <col width="200">
                                <col width="200">
                            </colgroup>
                            <tbody>
                            <tr>
                                <td style="padding: 5px; border: 1px solid black; height: 25px; text-align: center; color: rgb(0, 0, 0); font-size: 14px; vertical-align: middle; background-color: rgb(221, 221, 221);"
                                    colspan="4">
                                    <span style="font-weight: bold; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 11pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;">신청인</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 25px; text-align: center; color: rgb(0, 0, 0); font-size: 14px; font-weight: bold; vertical-align: middle;">

                                    소속
                                </td>
                                <td style="background: rgb(255, 255, 255); border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor black black; padding: 5px; height: 25px; text-align: left; color: rgb(0, 0, 0); font-size: 14px; font-weight: normal; vertical-align: middle;"
                                    colspan="3" class="dext_table_border_t">
				<span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="4" data-dsl="{{text}}"
                      data-wrapper=""
                      style="width: 100%; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 11pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"
                      data-value="">[[${vdto.member.deptName}]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 25px; text-align: center; color: rgb(0, 0, 0); font-size: 14px; font-weight: bold; vertical-align: middle;">
                                    직책
                                </td>
                                <td style="background: rgb(255, 255, 255); border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor black black; padding: 5px; height: 25px; text-align: left; color: rgb(0, 0, 0); font-size: 14px; font-weight: normal; vertical-align: middle;"
                                    colspan="3" class="dext_table_border_t">
				<span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="5" data-dsl="{{text}}"
                      data-wrapper=""
                      style="width: 100%; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 11pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"
                      data-value="">[[${vdto.member.companyRankName}]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 25px; text-align: center; color: rgb(0, 0, 0); font-size: 14px; font-weight: bold; vertical-align: middle;">
                                    성명
                                </td>
                                <td style="background: rgb(255, 255, 255); border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor black black; padding: 5px; height: 25px; text-align: left; color: rgb(0, 0, 0); font-size: 14px; font-weight: normal; vertical-align: middle;"
                                    colspan="3" class="dext_table_border_t">
				<span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="6" data-dsl="{{text}}"
                      data-wrapper=""
                      style="width: 100%; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 11pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"
                      data-value="">[[${vdto.member.name}]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 5px; border: currentColor; height: 20px; text-align: left; color: rgb(0, 0, 0); font-size: 14px; vertical-align: middle; background-color: rgb(255, 255, 255);"
                                    colspan="4">
                                    <p style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 11pt; line-height: 22px; margin-top: 0px; margin-bottom: 0px;">
                                        <br></p>
                                </td>
                            </tr>
                            <td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 25px; text-align: center; color: rgb(0, 0, 0); font-size: 14px; font-weight: bold; vertical-align: middle;">
                                작성일
                            </td>
                            <td style="background: rgb(255, 255, 255); padding: 5px; border: 1px solid black; height: 25px; text-align: left; color: rgb(0, 0, 0); font-size: 14px; font-weight: normal; vertical-align: middle;"
                                colspan="3">
				<span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="7" data-dsl="{{text}}"
                      data-wrapper=""
                      style="width: 100%; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 11pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"
                      data-value="">[[${vdto.wdate}]]</span>
                            </td>
                            </tr>
                            <tr>
                                <td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 25px; text-align: center; color: rgb(0, 0, 0); font-size: 14px; font-weight: bold; vertical-align: middle;">
                                    휴가종류
                                </td>
                                <td style="background: rgb(255, 255, 255); padding: 5px; border: 1px solid black; height: 25px; text-align: left; color: rgb(0, 0, 0); font-size: 14px; font-weight: normal; vertical-align: middle;"
                                    colspan="3">
				<span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="7" data-dsl="{{text}}"
                      data-wrapper=""
                      style="width: 100%; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 11pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"
                      data-value="">[[${vdto.type}]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 25px; text-align: center; color: rgb(0, 0, 0); font-size: 14px; font-weight: bold; vertical-align: middle;">
                                    휴가기간
                                </td>
                                <td style="background: rgb(255, 255, 255); padding: 5px; border: 1px solid black; height: 25px; text-align: center; color: rgb(0, 0, 0); font-size: 14px; vertical-align: middle;">
				<span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="8" data-dsl="{{period}}"
                      data-wrapper=""
                      style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 11pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"
                      data-value="">[[${vdto.startDate}]] ~ [[${vdto.endDate}]]</span>
                                </td>
                                <td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 25px; text-align: center; color: rgb(0, 0, 0); font-size: 14px; font-weight: bold; vertical-align: middle;">
                                    잔여일
                                </td>
                                <td style="background: rgb(255, 255, 255); padding: 5px; border: 1px solid black; height: 25px; text-align: center; color: rgb(0, 0, 0); font-size: 14px; vertical-align: middle;">
				<span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="10"
                      data-dsl="{{text$width:60$}}" data-wrapper=""
                      style="width: 60px; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 11pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"
                      data-value="">[[${vdto.member.remain}]]
				</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 25px; text-align: center; color: rgb(0, 0, 0); font-size: 14px; font-weight: bold; vertical-align: middle;">
                                    휴가사유
                                </td>
                                <td style="background: rgb(255, 255, 255); border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor black black; padding: 5px; height: 100px; text-align: left; color: rgb(0, 0, 0); font-size: 14px; font-weight: normal; vertical-align: middle;"
                                    colspan="3" class="dext_table_border_t">
        <span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="9" data-dsl="{{text}}"
              data-wrapper=""
              style="width: 100%; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 11pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"
              data-value="">
			[[${vdto.reason}]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor black black; padding: 5px; height: 100px; text-align: center; color: rgb(0, 0, 0); font-size: 14px; vertical-align: middle; background-color: rgb(255, 255, 255);"
                                    colspan="4" class="dext_table_border_t">
                                    <span style="font-weight: bold; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 11pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;">휴가기준 제 13조에 의거 휴가를 신청하오니 허락하여 주시기 바랍니다.</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</html>