<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <style>
        .card {
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            margin: 0 auto;
        }

        .card-body {
            width: max-content;
        }
        table {
            border-collapse: collapse;
        }

        td {
            border: 1px solid black;
        }
    </style>
</head>
<div layout:fragment="content">
    <div class="main-content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body" style="width: auto; min-width: max-content">
                    <form action="/approval/expense/approve" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="hidden" th:name="expenseNum" th:value="${edto.expenseNum}"/>
                        <div style="font-family: 돋움; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;">
  <span style="font-family: 돋움; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;">

<table style="border: 0px solid rgb(0, 0, 0); width: 800px; font-family: malgun gothic,dotum,arial,tahoma; margin-top: 1px; border-collapse: collapse;"><!-- Header -->
    <colgroup>
     <col width="310">
     <col width="490">
    </colgroup>

	<tbody>
		<tr>
			<td style="background: white; padding: 0px !important; border: 0px currentColor; height: 60px; text-align: center; color: black; font-size: 25px; font-weight: bold; vertical-align: middle;"
                colspan="2" class="dext_table_border_t dext_table_border_r dext_table_border_b dext_table_border_l"
                th:if="${edto.rstatus != -1 && (edto.status == 0 || edto.status == 1)}">
지출결의서
			</td>
			<td style="background: white; padding: 0px !important; border: 0px currentColor; height: 60px; text-align: center; color: black; font-size: 25px; font-weight: bold; vertical-align: middle;"
                colspan="2" class="dext_table_border_t dext_table_border_r dext_table_border_b dext_table_border_l"
                th:if="${edto.rstatus == -1}">
지출결의서
			<img src="/img/refuse.png"
                 style="position:absolute; width:130px; height:130px; margin-left:-510px; margin-top:-70px"/>
			</td>
			<td style="background: white; padding: 0px !important; border: 0px currentColor; height: 60px; text-align: center; color: black; font-size: 25px; font-weight: bold; vertical-align: middle;"
                colspan="2" class="dext_table_border_t dext_table_border_r dext_table_border_b dext_table_border_l"
                th:if="${edto.status == 2}">
지출결의서
			<img src="/img/fapprove.png"
                 style="position:absolute; width:130px; height:130px; margin-left:-510px; margin-top:-70px"/>
			</td>
		</tr>
		<tr>
			<td style="background: white; padding: 0px !important; border: currentColor; text-align: left; color: black; font-size: 12px; font-weight: normal; vertical-align: top;">

<table style="border: 1px solid rgb(0, 0, 0); font-family: malgun gothic,dotum,arial,tahoma; margin-top: 1px; border-collapse: collapse;"><!-- User -->
        <colgroup>
         <col width="90">
         <col width="220">
        </colgroup>

	<tbody>
		<tr>
			<td style="background: rgb(226, 226, 226); padding: 5px; border: 1px solid black; height: 18px; text-align: center; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; vertical-align: middle;">
 기안자
			</td>
			<td style="background: rgb(255, 255, 255); padding: 5px; border: 1px solid black; text-align: left; color: rgb(0, 0, 0); font-size: 12px; font-weight: normal; vertical-align: middle;">
				<span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="0"
                      data-dsl="{{label:draftUser}}" data-wrapper=""
                      style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt;"
                      data-value="" data-autotype="">[[${edto.member.name}]]</span>
			</td>
		</tr>
		<tr>
			<td style="background: rgb(226, 226, 226); padding: 5px; border: 1px solid black; height: 18px; text-align: center; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; vertical-align: middle;">
 소속
			</td>
			<td style="background: rgb(255, 255, 255); padding: 5px; border: 1px solid black; text-align: left; color: rgb(0, 0, 0); font-size: 12px; font-weight: normal; vertical-align: middle;">
				<span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="0"
                      data-dsl="{{label:draftUser}}" data-wrapper=""
                      style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt;"
                      data-value="" data-autotype="">[[${edto.member.deptName}]]</span>
			</td>
		</tr>
		<tr>
			<td style="background: rgb(226, 226, 226); padding: 5px; border: 1px solid black; height: 18px; text-align: center; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; vertical-align: middle;">
 기안일
			</td>
			<td style="background: rgb(255, 255, 255); padding: 5px; border: 1px solid black; text-align: left; color: rgb(0, 0, 0); font-size: 12px; font-weight: normal; vertical-align: middle;">
				<span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="2"
                      data-dsl="{{label:draftDate}}" data-wrapper=""
                      style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt;"
                      data-value="" data-autotype="">[[${edto.wdate}]]</span>
			</td>
		</tr>
		<tr>
			<td style="background: rgb(226, 226, 226); padding: 5px; border: 1px solid black; height: 18px; text-align: center; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; vertical-align: middle;">
 문서번호
			</td>
			<td style="background: rgb(255, 255, 255); padding: 5px; border: 1px solid black; text-align: left; color: rgb(0, 0, 0); font-size: 12px; font-weight: normal; vertical-align: middle;">
				<span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="3"
                      data-dsl="{{label:docNo}}" data-wrapper=""
                      style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt;"
                      data-value="" data-autotype="">[[${edto.expenseNum}]]</span>
			</td>
		</tr>
	</tbody>
</table>
			</td>
			<td style="background: white; padding: 0px !important; border: currentColor; text-align: right; color: black; font-size: 12px; font-weight: normal; vertical-align: top;">
				<span unselectable="on" contenteditable="false" class="comp_wrap" data-wrapper="">
                    <table border="1px solid black" style="margin-left: 280px; margin-bottom: -15px;">
                        <tr><td colspan="3"
                                style="border: 0px; text-align: center; font-size: math"><strong>[결재선]</strong></td></tr>
					 <tr style="text-align: center; font-size: small">
					     <td>기안자</td>
					     <td>[[${edto.approval1rank}]]</td>
					     <td>[[${edto.approval2rank}]]</td>
					     </tr>
					 <tr style="text-align: center">
					     <td style="width: 70px; height:40px; font-size: 12px; text-align: center;">[[${edto.member.name}]]</td>
					     
					     <td style="width: 70px" height="40px; " th:if="${edto.status == 0}">[[${edto.approval1}]]</td>
					     <td style="width: 70px" height="40px;" th:if="${edto.status == 0}">[[${edto.approval2}]]</td>
					     	
					     <td style="width: 70px" height="40px;" th:if="${edto.status == 1}">[[${edto.approval1}]]
					     <img src="/img/approve.png"
                              style="position:absolute; width:90px; height:70px; margin-left:-60px; margin-top:-27px"/>
					     </td>
					     <td style="width: 70px" height="40px;" th:if="${edto.status == 1}">[[${edto.approval2}]]</td>
					     
					     <td style="width: 70px" height="40px;" th:if="${edto.status == 2}">[[${edto.approval1}]]
					     <img src="/img/approve.png"
                              style="position:absolute; width:90px; height:70px; margin-left:-60px; margin-top:-27px"/>
					     </td>
					     <td style="width: 70px" height="40px;" th:if="${edto.status == 2}">[[${edto.approval2}]]
					     <img src="/img/approve.png"
                              style="position:absolute; width:90px; height:70px; margin-left:-60px; margin-top:-27px"/>
					     </td>
					 </tr>
				 </table>
    </td>
    </tr>
    </tbody>
    </table>
    </span></div>
                        <div style="font-family: 돋움; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;">
                            <br>
                        </div>
                        <table border="0" cellpadding="0" cellspacing="0"
                               style="border-collapse: collapse; width: 800px; height: 142px;">
                            <colgroup>
                                <col width="72" style="width: 72px;">
                                <col width="27" style="width: 27px;">
                                <col width="50" span="3" style="width: 51px;">
                                <col width="72" style="width: 72px;">
                                <col width="84" style="width: 84px;">
                                <col width="43" style="width: 43px;">
                                <col width="72" span="4" style="width: 72px;">
                                <col width="96" style="width: 96px;">
                            </colgroup>
                            <tbody style="color: black;">
                            <tr>
                                <td height="30" width="79"
                                    style="padding-top: 1px; padding-right: 1px; padding-left: 1px; font-family: &quot;맑은 고딕&quot;, monospace; vertical-align: middle; text-align: center; border: 1px solid windowtext; height: 30px; width: 80px; background-color: rgb(226, 226, 226);">
                                    <strong style="font-size: 9pt;">제 목</strong>
                                </td>
                                <td colspan="12" width="760"
                                    style="padding-top: 1px; padding-right: 1px; padding-left: 1px; font-family: &quot;맑은 고딕&quot;, monospace; vertical-align: middle; border-image: initial; font-size: 10pt; text-align: center; border-width: 1px; border-style: solid; border-color: windowtext black windowtext windowtext; width: 720px;">
                                    <p style="text-align: left; font-family: &quot;맑은 고딕&quot;, monospace; font-size: 10pt; line-height: 20px; margin-left: 5px; margin-top: 0px; margin-bottom: 0px;">
                <span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="4" data-dsl="{{text}}"
                      data-wrapper="" style="width: 100%; font-family: &quot;맑은 고딕&quot;, monospace; font-size: 10pt;"
                      data-value="" data-autotype="">[[${edto.title}]]</span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td height="30"
                                    style="padding-top: 1px; padding-right: 1px; padding-left: 1px; font-family: &quot;맑은 고딕&quot;, monospace; vertical-align: middle; text-align: center; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; height: 30px; border-top: none; background-color: rgb(226, 226, 226); width: 83px;"
                                    class="dext_table_border_t">
                                    <strong style="font-size: 9pt;">작성일</strong>
                                </td>
                                <td colspan="6"
                                    style="padding-top: 1px; padding-right: 1px; padding-left: 1px; font-family: &quot;맑은 고딕&quot;, monospace; vertical-align: middle; font-size: 10pt; text-align: center; border-top: 1px solid windowtext; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-image: initial; border-left: none; width: 303px;"
                                    class="dext_table_border_l">
                                    <p style="font-family: &quot;맑은 고딕&quot;, monospace; font-size: 10pt; line-height: 20px; margin-top: 0px; margin-bottom: 0px;">
                <span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="5" data-dsl="{{calendar}}"
                      data-wrapper="" style="font-family: &quot;맑은 고딕&quot;, monospace; font-size: 10pt;" data-value=""
                      data-autotype="">[[${edto.wdate}]]</span>
                                    </p>
                                </td>
                                <td style="padding-top: 1px; padding-right: 1px; padding-left: 1px; font-family: &quot;맑은 고딕&quot;, monospace; vertical-align: middle; text-align: center; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; height: 30px; border-top: none; background-color: rgb(226, 226, 226); width: 79px;"
                                    class="dext_table_border_t">
                                    <strong style="font-size: 9pt;">소 속</strong>
                                </td>
                                <td colspan="5"
                                    style="padding-top: 1px; padding-right: 1px; padding-left: 1px; font-family: &quot;맑은 고딕&quot;, monospace; vertical-align: middle; font-size: 10pt; text-align: center; border-top: 1px solid windowtext; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-image: initial; border-left: none; width: 242px;"
                                    class="dext_table_border_l">
                                    <p style="font-family: &quot;맑은 고딕&quot;, monospace; font-size: 10pt; line-height: 20px; margin-top: 0px; margin-bottom: 0px;">
                <span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="6" data-dsl="{{text}}"
                      data-wrapper="" style="width: 100%; font-family: &quot;맑은 고딕&quot;, monospace; font-size: 10pt;"
                      data-value="" data-autotype="">[[${edto.member.deptName}]]</span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td height="30"
                                    style="padding-top: 1px; padding-right: 1px; padding-left: 1px; font-family: &quot;맑은 고딕&quot;, monospace; vertical-align: middle; text-align: center; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; height: 30px; border-top: none; background-color: rgb(226, 226, 226); width: 83px;"
                                    class="dext_table_border_t">
                                    <strong style="font-size: 9pt;">작성자</strong>
                                </td>
                                <td colspan="6"
                                    style="padding-top: 1px; padding-right: 1px; padding-left: 1px; font-family: &quot;맑은 고딕&quot;, monospace; vertical-align: middle; font-size: 10pt; text-align: center; border-top: 1px solid windowtext; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-image: initial; border-left: none; width: 303px;"
                                    class="dext_table_border_l">
                                    <p style="font-family: &quot;맑은 고딕&quot;, monospace; font-size: 10pt; line-height: 20px; margin-top: 0px; margin-bottom: 0px;">
                <span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="7" data-dsl="{{text}}"
                      data-wrapper="" style="width: 100%; font-family: &quot;맑은 고딕&quot;, monospace; font-size: 10pt;"
                      data-value="" data-autotype="">[[${edto.member.name}]]</span>
                                </td>
                                <td style="padding-top: 1px; padding-right: 1px; padding-left: 1px; font-family: &quot;맑은 고딕&quot;, monospace; vertical-align: middle; text-align: center; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; height: 30px; border-top: none; background-color: rgb(226, 226, 226); width: 79px;"
                                    class="dext_table_border_t">
                                    <strong style="font-size: 9pt;">금 액</strong>
                                </td>
                                <td class="total_price dext_table_border_l" colspan="5"
                                    style="padding-top: 1px; padding-right: 1px; padding-left: 1px; font-family: &quot;맑은 고딕&quot;, monospace; vertical-align: middle; font-size: 10pt; text-align: center; border-top: 1px solid windowtext; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-image: initial; border-left: none; width: 242px;">
                                    <p style="font-family: &quot;맑은 고딕&quot;, monospace; font-size: 10pt; line-height: 20px; margin-top: 0px; margin-bottom: 0px;">
                <span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="8" data-dsl="{{textarea}}"
                      data-wrapper="" style="width: 100%; font-family: &quot;맑은 고딕&quot;, monospace; font-size: 10pt;"
                      data-value="" data-autotype="">[[${edto.sum}]] 원</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="150"
                                    style="padding-top: 1px; padding-right: 1px; padding-left: 1px; font-family: &quot;맑은 고딕&quot;, monospace; vertical-align: middle; text-align: center; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; height: 51px; border-top: none; background-color: rgb(226, 226, 226); width: 83px;"
                                    class="dext_table_border_t">
                                    <strong style="font-size: 9pt;">사 유</strong>
                                </td>
                                <td colspan="12"
                                    style="padding-top: 1px; padding-right: 1px; padding-left: 1px; font-family: &quot;맑은 고딕&quot;, monospace; vertical-align: middle; font-size: 10pt; text-align: center; border-top: 1px solid windowtext; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-image: initial; border-left: none; width: 683px; height: 51px; background-repeat: no-repeat;"
                                    class="dext_table_border_l">
                <span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="8" data-dsl="{{textarea}}"
                      data-wrapper="" style="width: 100%; font-family: &quot;맑은 고딕&quot;, monospace; font-size: 10pt;"
                      data-value="" data-autotype="">[[${edto.content}]]</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div id="divCustomWrapper"
                             style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;">
                            <table border="1" id="dynamic_table1" class="detailSection"
                                   style="margin-top: 5px !important; height: auto; border:1px solid black; text-align: center; color: black;">
                                <colgroup>
                                    <col width="133">
                                    <col width="180">
                                    <col width="240">
                                    <col width="125">
                                    <col width="120">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th class="subjectColumn dext_table_border_t dext_table_border_r dext_table_border_b dext_table_border_l"
                                        style="height: 30px; background-color: rgb(226, 226, 226);">
				<span style="font-size: 9pt;">
 일 자
</span>
                                    </th>
                                    <th class="subjectColumn dext_table_border_t dext_table_border_r dext_table_border_b dext_table_border_l"
                                        style="background-color: rgb(226, 226, 226);">
				<span style="font-size: 9pt;">
 분 류
</span>
                                    </th>
                                    <th class="subjectColumn dext_table_border_t dext_table_border_r dext_table_border_b dext_table_border_l"
                                        style="height: 30px; background-color: rgb(226, 226, 226);">
				<span style="font-size: 9pt;">
 사용 내역
</span>
                                    </th>
                                    <th class="subjectColumn dext_table_border_t dext_table_border_r dext_table_border_b dext_table_border_l"
                                        style="height: 30px; background-color: rgb(226, 226, 226);">
				<span style="font-size: 9pt;">
 금 액
</span>
                                    </th>
                                    <th class="subjectColumn dext_table_border_t dext_table_border_r dext_table_border_b dext_table_border_l"
                                        style="height: 30px; background-color: rgb(226, 226, 226);">
				<span style="font-size: 9pt;">
 비 고
</span>
                                    </th>
                                </tr>
                                <tr class="copyRow1">
                                    <td class="detailColumn centerCol dext_table_border_t dext_table_border_r dext_table_border_b dext_table_border_l"
                                        style="height: 40px;">
                        <span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="9"
                              data-dsl="{{calendar}}"
                              data-wrapper=""
                              style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt;"
                              data-value="" data-autotype="">[[${edto.wdate}]]</span>
                                    </td>
                                    <td class="detailColumn centerCol dext_table_border_t dext_table_border_r dext_table_border_b dext_table_border_l"
                                        style="height: 40px;">
                        <span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="12"
                              data-dsl="{{text}}"
                              data-wrapper=""
                              style="width: 100%; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt;"
                              data-value="" data-autotype="">[[${edto.category}]]</span>
                                    </td>
                                    <td class="detailColumn centerCol dext_table_border_t dext_table_border_r dext_table_border_b dext_table_border_l"
                                        style="height: 40px;">
                        <span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="12"
                              data-dsl="{{text}}"
                              data-wrapper=""
                              style="width: 100%; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt;"
                              data-value="" data-autotype="">[[${edto.detail}]]</span>
                                    </td>
                                    <td class="detailColumn centerCol price dext_table_border_t dext_table_border_r dext_table_border_b dext_table_border_l"
                                        style="height: 40px;">
                        <span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="11"
                              data-dsl="{{currency_0}}" data-wrapper=""
                              style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt;"
                              data-value="" data-autotype="">[[${edto.sum}]] 원</span>
                                    </td>
                                    <td class="detailColumn dext_table_border_t dext_table_border_r dext_table_border_b dext_table_border_l"
                                        style="height: 40px;">
                        <span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="13"
                              data-dsl="{{text}}"
                              data-wrapper=""
                              style="width: 100%; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt;"
                              data-value="" data-autotype="">[[${edto.note}]]</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <span style="font-family: &quot;맑은 고딕&quot;; font-size: 10pt; line-height: 20px; margin-top: 0px; margin-bottom: 0px;">
                <strong style="color: black;">* 영수증 별도 제출</strong></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</html>