<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<th:block layout:fragment="style">
    <link href="/member/css/login_form.css" rel="stylesheet">
</th:block>
<div layout:fragment="content">

    <div style="max-width: 300px;" class="mx-auto mt-5">
        <form th:action="@{/member/login}" method="POST">
            <div class="mb-3">
                <label class="form-label">ID</label>
                <input type="text" name="username" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">비밀번호</label>
                <input type="password" name="password" class="form-control">
            </div>
            <div class="mb-3 text-right">
                <button type="submit" class="btn btn-primary">로그인</button>
            </div>
        </form>
    </div>
</div>
<th:block layout:fragment="script">
    <script src="/member/js/login_form.js" type='text/javascript'></script>
</th:block>
</html>