<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="">
    <title>Title</title>
    <link href='/fullcalendar-5.11.0/lib/main.css' rel='stylesheet' />
    <script src='/fullcalendar-5.11.0/lib/main.js'></script>
    <script src='/fullcalendar-5.11.0/dist/index.global.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
            });
            calendar.render();
        });

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            selectable: true
        });
    </script>
    <title>MyCalendar</title>
</head>
<body>
<h1>MyCalendarsd</h1>
<div id='calendar'></div>
</body>
</html>