<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<nav id="sidebar" th:fragment="sidebarFragment">
    <div class="p-4 pt-5">
        <a href="/main" class="img logo rounded-circle mb-4" style="background-image: url('/img/logo.png');"></a>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="#empSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">임직원 관리</a>
                <ul class="collapse list-unstyled" id="empSubmenu">
                    <li>
                        <a href="/employee/list">임직원 목록</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#boardSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">게시판</a>
                <ul class="collapse list-unstyled" id="boardSubmenu">
				          	<li>
                        <a href="/board/notify">공지사항</a>
                    </li>
                    <li>
                        <a href="/board/list">글 목록</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#page1Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">전자결재</a>
                <ul class="collapse list-unstyled" id="page1Submenu">
                    <li>
                        <a id="report">품의서</a>
                    </li>
                    <li>
                        <a id="expense">지출결의서</a>
                    </li>
                    <li>
                        <a id="vacation">휴가신청서</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#page2Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">문서함</a>
                <ul class="collapse list-unstyled" id="page2Submenu">
                    <li>
                        <a href="/approval/draft">전체 결재문서</a>
                    </li>
                    <li>
                        <a href="/approval/mydraft">내 기안함</a>
                    </li>
                    <li>
                        <a href="/approval/process">내 결재대기함</a>
                    </li>
                     <li>
                        <a href="/approval/myrefuse">내 반려함</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#mailSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">메일</a>
                <ul class="collapse list-unstyled" id="mailSubmenu">
                    <li>
                        <a href="/mail/send">메일 보내기</a>
                    </li>
                    <li>
                        <a href="/mail/list">받은 메일함</a>
                    </li>
                    <li>
                        <a href="#">보낸 메일함</a>
                    </li>
                    <li>
                        <a href="#">휴지통</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#messegeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">메신저</a>
                <ul class="collapse list-unstyled" id="messegeSubmenu">
                    <li>
                        <a href="/chat/room">메신저</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#dataSubmenu" data-toggle="collapse" aria-expanded="false"
                   class="dropdown-toggle">드라이브(자료실)</a>
                <ul class="collapse list-unstyled" id="dataSubmenu">
                    <li>
                        <a href="/dataroom/list">자료 목록</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#workSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">일정(캘린더)</a>
                <ul class="collapse list-unstyled" id="workSubmenu">
                    <li>
                        <a href="/schedule">캘린더 보기</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#roomSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">회의실</a>
                <ul class="collapse list-unstyled" id="roomSubmenu">
<!--                    <li>-->
<!--                        <a href="/meetingroom/meeting">회의실 접속</a>-->
<!--                    </li>-->
                    <li>
                        <a href="/meetingroom">회의실 예약</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#attSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">근태관리</a>
                <ul class="collapse list-unstyled" id="attSubmenu">
                    <li>
                        <a href="/commute/list">임직원 근태관리</a>
                    </li>
                    <li>
                        <a href="/commute/mycommute">출퇴근 이력</a>
                    </li>
                    <!--<li>
                        <a href="/commute/editRequestList">근태수정 요청목록</a>
                    </li>!-->
                </ul>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>

        <div class="footer">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a
                        href="https://colorlib.com" target="_blank">Colorlib.com</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
    </div>
    <script src="/js/sidebar.js" type='text/javascript'></script>
</nav>
</html>