<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<div layout:fragment="content">
    <h2 class="mb-4">임직원목록</h2>
    <form action="/employee/list" method="post">
        <select name="type">
            <option value="none">전체</option>
            <option value="name">이름</option>
            <option value="newNo">사번</option>
            <option value="deptCode">부서</option>
            <option value="companyRank">직급</option>
        </select>
        <input type="text" name="option">
        <input type="submit" value="검색" name="search">
    </form>
    <table border="1">
        <tr>
            <th>이름</th>
            <th>사번</th>
            <th>부서코드</th>
            <th>직급</th>
            <th>휴대전화</th>
            <th>이메일</th>
            <th>내선전화</th>
        </tr>
        <tr th:each="b:${list}">
            <td th:text="${b.name }"></td>
            <td th:text="${b.newNo }"></td>
            <td th:text="${b.deptCode }"></td>
            <td th:text="${b.companyRank }"></td>
            <td th:text="${b.phone }"></td>
            <td th:text="${b.email }"></td>
            <td th:text="${b.comCall }"></td>
        </tr>
    </table>
</div>
</html>