<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h2 class="card-title ">근태수정 요청목록</h2>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="kt_datatable_example_2"
                                       class="table table-striped table-row-bordered gy-5 gs-7">
                                    <thead>
                                    <tr class="fw-bold fs-6 text-gray-800">
                                        <th>이름</th>
                                        <th>부서</th>
                                        <th>직급</th>
                                        <th>기준일</th>
                                        <th>수정내용</th>
                                        <th>요청사유</th>
                                        <th>승인 및 취소</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="c:${list}">
                                        <td>[[${c.member.name}]]</td>
                                        <td>[[${c.member.deptName}]]</td>
                                        <td>[[${c.member.companyRankName}]]</td>
                                        <td>[[${c.basicDate}]] → [[${c.editBasicDate}]]</td>
                                        <td>
                                            [출근] [[${c.startTime}]] → [[${c.editStartTime}]]<br/>
                                            [퇴근] [[${c.endTime}]] → [[${c.editEndTime}]]
                                        </td>
                                        <td>[[${c.reason}]]</td>
                                        <td><a th:href="@{/commute/approve(commuteNum=${c.commuteNum})}"><i class="bi bi-check-lg" style="color: blue"></i></a>&emsp;
                                            <a th:href="@{/commute/cancel(commuteNum=${c.commuteNum})}"><i class="bi bi-x-octagon-fill" style="color: red"></i></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>