<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // 첫 번째 폼 숨기기
            $("#textOption").hide();

            // 선택 옵션에 따라 폼 변경
            $("select[name='type']").change(function () {
                var selectedOption = $(this).val();

                if (selectedOption === 'basicDate') {
                    $("#dateOption").show();
                    $("#textOption").hide();
                } else {
                    $("#dateOption").hide();
                    $("#textOption").show();
                }
            });
        });
    </script>
</head>
<div layout:fragment="content">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">근태수정 요청목록</h4>
                            <p class="card-category">부제목 입력하는고오옷</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                    <tr>
                                    <th>이름</th>
                                    <th>부서</th>
                                    <th>직급</th>
                                    <th>기준일</th>
                                    <th>수정내용</th>
                                    <th>요청사유</th>
                                    <th>승인/취소</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                     <tr th:each="c:${list}">
                                        <td>[[${c.member.name}]]</td>
                                        <td>[[${c.member.deptName}]]</td>
                                        <td>[[${c.member.companyRankName}]]</td>
                                        <td>[[${c.basicDate}]]</td>
                                        <td>
                                        [출근] [[${c.startTime}]] → [[${c.editStartTime}]]<br/>
                                        [퇴근] [[${c.endTime}]] → [[${c.editEndTime}]]
                                        </td>
                                        <td>[[${c.reason}]]</td>
                                        <td><a th:href="@{/commute/approve(commuteNum=${c.commuteNum})}">승인</a> <a
                                                th:href="@{/commute/cancel(commuteNum=${c.commuteNum})}">취소</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>