<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<th:block layout:fragment="style">
    <link rel="stylesheet" href="/css/dataroom/dataroom.css">
</th:block>
<div layout:fragment="content">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h2 class="card-title ">근태수정 요청목록</h2>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="kt_datatable_example_2"
                                       class="table table-striped table-row-bordered gy-5 gs-7">
                                    <thead>
                                    <tr class="fw-bold fs-6 text-gray-800">
                                        <th>이름</th>
                                        <th>부서</th>
                                        <th>직급</th>
                                        <th>기준일</th>
                                        <th>수정내용</th>
                                        <th>요청사유</th>
                                        <th>승인 및 취소</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="c:${paging}">
                                        <td>[[${c.member.name}]]</td>
                                        <td>[[${c.member.deptName}]]</td>
                                        <td>[[${c.member.companyRankName}]]</td>
                                        <td>[[${c.basicDate}]] → [[${c.editBasicDate}]]</td>
                                        <td>
                                            [출근] [[${c.startTime}]] → [[${c.editStartTime}]]<br/>
                                            [퇴근] [[${c.endTime}]] → [[${c.editEndTime}]]
                                        </td>
                                        <td>[[${c.reason}]]</td>
                                        <td><a th:href="@{/commute/approve(commuteNum=${c.commuteNum})}"><i class="bi bi-check-lg" style="color: blue"></i></a>&emsp;
                                            <a th:href="@{/commute/cancel(commuteNum=${c.commuteNum})}"><i class="bi bi-x-octagon-fill" style="color: red"></i></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- 페이징처리 시작 -->
                                <div th:if="${!paging.isEmpty()}">
                                    <ul class="pagination justify-content-center">

                                        <!-- 처음 링크 -->
                                        <li class="page-item" th:classappend="${paging.first} ? 'disabled'">
                                            <a class="page-link" th:href="@{|?page=1|}">
                                                <span>처음</span>
                                            </a>
                                        </li>
                                        <!-- 이전 링크 -->
                                        <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                                            <a class="page-link"
                                               th:href="@{|?page=${paging.number}|}">
                                                <span>이전</span>
                                            </a>
                                        </li>
                                        <!-- 페이지 번호 -->
                                        <li th:each="page: ${#numbers.sequence(1, paging.totalPages)}"
                                            th:if="${page >= paging.number-4 and page <= paging.number+4}"
                                            th:classappend="${page == paging.number+1} ? 'active'"
                                            class="page-item">
                                            <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
                                        </li>
                                        <!-- 생략 기호 -->
                                        <li th:if="${paging.number+4 < paging.totalPages}" class="page-item disabled">
                                            <a class="page-link">...</a>
                                        </li>
                                        <!-- 다음 기호 -->
                                        <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                                            <a class="page-link" th:href="@{|?page=${paging.number+2}|}">
                                                <span>다음</span>
                                            </a>
                                        </li>
                                        <!-- 마지막 링크 -->
                                        <li class="page-item" th:classappend="${paging.last} ? 'disabled'">
                                            <a class="page-link" th:href="@{|?page=${paging.totalPages}|}">
                                                <span>마지막</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- 페이징처리 끝 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>