<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // 첫 번째 폼 숨기기
            $("#textOption").hide();

            // 선택 옵션에 따라 폼 변경
            $("select[name='type']").change(function () {
                var selectedOption = $(this).val();

                if (selectedOption === 'basicDate') {
                    $("#dateOption").show();
                    $("#textOption").hide();
                } else {
                    $("#dateOption").hide();
                    $("#textOption").show();
                }
            });
        });
    </script>
</head>
<div layout:fragment="content">

    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">근태관리</h4>
                            <p class="card-category"><a href="/commute/editRequestList" th:if="${#authentication.principal.isMaster == 1}">근태수정 요청목록</a></p>
                        </div>
                        <form action="/commute/list" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <select name="type">
                                <option value="basicDate">기준일</option>
                                <option value="name">이름</option>
                                <option value="deptName">부서</option>
                            </select>
                            <input type="date" name="option1" id="dateOption">
                            <input type="text" name="option2" id="textOption">
                            <input type="submit" value="검색" name="search">
                        </form>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr class=" text-primary">
                                        <th>이름</th>
                                        <th>부서</th>
                                        <th>직급</th>
                                        <th>기준일</th>
                                        <th>출근시간</th>
                                        <th>퇴근시간</th>
                                    </tr>
                                    <tbody>
                                    <tr th:each="c:${list}">
                                        <td>[[${c.member.name}]]</td>
                                        <td>[[${c.member.deptName}]]</td>
                                        <td>[[${c.member.companyRankName}]]</td>
                                        <td>[[${c.basicDate}]]</td>
                                        <td>[[${c.startTime}]]</td>
                                        <td>[[${c.endTime}]]</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>