<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<div layout:fragment="content">
    <h2>Email List</h2>
    <table border="1">
        <thead>
        <tr>
            <th>From</th>
            <th>Subject</th>
            <th>Received Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="email : ${emails}">
            <td th:text="${email.from}"></td>
            <td th:text="${email.subject}"></td>
            <td th:text="${email.receivedDate}"></td>
            <td><a th:href="@{'/emails/view?id=' + ${email.id}}">View</a></td>
        </tr>
        </tbody>
    </table>
</div>
</html>