<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<th:block layout:fragment="style">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.5/main.min.css"
          integrity="sha512-1P/SRFqI1do4eNtBsGIAqIZIlnmOQkaY7ESI2vkl+q+hl9HSXmdPqotN0McmeZVyR4AWV+NvkP6pKOiVdY/V5A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/css/schedule/calendar.css">
    <link rel="stylesheet" href="/css/meetingroom/meetingroom.css">

</th:block>


<th:block layout:fragment="script">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.9/index.global.min.js"></script>

    <script th:inline="javascript">
        var header = /*[[${_csrf.headerName}]]*/ null;
        var token = /*[[${_csrf.token}]]*/ null;

        console.log($('.room-link'))
        console.log($('.room-link')[0].dataset.roomId)

        $('.room-link').on('click', function () {
            showRoomId(this.dataset.roomId);
        })

        function showRoomId(roomId) {
            $(function () {
                $.ajax({
                    url: "/meetingroom/list/" + roomId,
                    method: "GET",
                    dataType: "json",
                    success: function (data) {
                        $('.mtab').each(function() {
                            $(this).removeClass('active');
                        });
                        $('#mtab'+roomId).addClass('active')

                        var calendarEl = document.getElementById('calendar');
                        var calendar = new FullCalendar.Calendar(calendarEl, {
                            headerToolbar: {
                                left: 'prev next today',
                                center: 'title',
                                right: 'timeGridWeek,timeGridDay',
                            },
                            initialView: 'timeGridWeek',
                            editable: true,
                            selectable: true,
                            droppable: true,
                            dayMaxEvents: true,

                            drop: function (arg) {
                                if (document.getElementById('drop-remove').checked) {
                                    arg.draggedEl.parentNode.removeChild(arg.draggedEl);
                                }
                            },
                            select: function (arg) {
                                // 캘린더에서 이벤트를 생성할 수 있다.
                                var title = prompt('회의 일정을 입력해주세요.');
                                if (title) {
                                    var events = new Array();
                                    var obj = new Object();
                                    obj.title = title;
                                    obj.start = new Date(arg.start.setHours(arg.start.getHours() + 9));
                                    obj.end = new Date(arg.end.setHours(arg.end.getHours() + 9));
                                    obj.roomId = roomId;
                                    events.push(obj);
                                    var jsondata = JSON.stringify(events);
                                    console.log(jsondata);

                                    $(function saveData() {
                                        $.ajax({
                                            url: "/meetingroom/add/" + roomId,
                                            method: "POST",
                                            beforeSend: function (xhr) {
                                                xhr.setRequestHeader(header, token);
                                            },
                                            dataType: "json",
                                            data: JSON.stringify(events),
                                            contentType: 'application/json',
                                            success: function (data) {
                                                location.reload()
                                            },
                                            error: function (e) {
                                                console.log(e)
                                            }
                                        })
                                            .done(function (result) {
                                            })
                                            .fail(function (request, status, error) {
                                                console.log(request)
                                                console.log(status)
                                                console.log(error)
                                            });
                                    });
                                    calendar.unselect()
                                }
                            },
                            eventDrop: function (info) {
                                console.log(info);
                                if (confirm(info.event.title + "일정을 수정하시겠습니까 ?")) {
                                    var events = new Array();
                                    var obj = new Object();

                                    obj.title = info.event._def.title;
                                    obj.start = info.event._instance.range.start;
                                    obj.end = info.event._instance.range.end;
                                    events.push(obj);

                                    console.log(events);
                                    console.log(info.event._def.extendedProps.cal_Id)
                                    let calId = info.event._def.extendedProps.cal_Id
                                    $(function eidtData() {
                                        $.ajax({
                                            url: "/meetingroom/edit/" + calId,
                                            method: "PATCH",
                                            beforeSend: function (xhr) {
                                                xhr.setRequestHeader(header, token);
                                            },
                                            success: function (res) {
                                                if (res.flag) {
                                                    info.revert();
                                                } else {
                                                    alert(res.msg);
                                                }
                                            },
                                            dataType: "json",
                                            data: JSON.stringify(events),
                                            contentType: 'application/json',
                                        })
                                    })
                                    location.reload()
                                }
                            },
                            eventResize: function (info) {
                                console.log(info)
                                if (confirm(info.event.title + "일정을 수정하시겠습니까 ?")) {
                                    var events = new Array();
                                    var obj = new Object();

                                    obj.title = info.event._def.title;
                                    obj.start = info.event._instance.range.start;
                                    obj.end = info.event._instance.range.end;
                                    events.push(obj);

                                    console.log(events);
                                    console.log(info.event._def.extendedProps.cal_Id)
                                    let calId = info.event._def.extendedProps.cal_Id
                                    $(function eidtData() {
                                        $.ajax({
                                            url: "/meetingroom/edit/" + calId,
                                            method: "PATCH",
                                            beforeSend: function (xhr) {
                                                xhr.setRequestHeader(header, token);
                                            },
                                            success: function (res) {
                                                if (res.flag) {
                                                    info.revert();
                                                } else {
                                                    alert(res.msg);
                                                }
                                            },
                                            dataType: "json",
                                            data: JSON.stringify(events),
                                            contentType: 'application/json',
                                        })
                                    })
                                    location.reload()
                                }
                            },
                            eventClick: function (info) {
                                console.log(info)
                                console.log(info.event._def.extendedProps.cal_Id)
                                if (confirm(info.event.title + "일정을 삭제하시겠습니까 ?")) {
                                    console.log(info.event);

                                    let calId = info.event._def.extendedProps.cal_Id

                                    $(function deleteData() {
                                        $.ajax({
                                            url: "/meetingroom/del/" + calId,
                                            dataType: "JSON",
                                            method: "GET",
                                            success: function (res) {
                                                if (res.flag) {
                                                    info.event.remove();
                                                } else {
                                                    alert(res.msg);
                                                }
                                            }
                                        })
                                    })
                                }
                            },
                            events: data,

                        });
                        calendar.render();
                    },
                    fail: function (jqXHR, textStatus) {
                        alert("Request failed: " + textStatus);
                    }
                });
            });
        }

        showRoomId(0)
    </script>
</th:block>

<div layout:fragment="content">
    <div class="tabbable-panel">
        <div class="tabbable-line">
            <ul class="nav nav-tabs ">
                <li id="mtab0" class="mtab active" >
                    <a class="room-link" data-room-id="0">전체보기</a>
                </li>
                <li id="mtab1" class="mtab">
                    <a class="room-link" data-room-id="1">회의실1</a>
                </li>
                <li id="mtab2" class="mtab">
                    <a class="room-link" data-room-id="2">회의실2</a>
                </li>
                <li id="mtab3" class="mtab">
                    <a class="room-link" data-room-id="3">회의실3</a>
                </li>
                <li id="mtab4" class="mtab">
                    <a class="room-link" data-room-id="4">회의실4</a>
                </li>
                <li id="mtab5" class="mtab">
                    <a class="room-link" data-room-id="5">회의실5</a>
                </li>
                <li id="mtab6" class="mtab">
                    <a class="room-link" data-room-id="6">회의실6</a>
                </li>
            </ul>
        </div>
    </div>
    <div id='wrap'>
        <div id='calendar'></div>
        <div style='clear:both'></div>
    </div>
</div>


</html>
